@charset "UTF-8";

body {
	font-family: Arial;
	background-color: #F5F5F5;
}

a {
	font-size: 20px;
	color: #4169E1;
	text-decoration: none;
	padding: 30px 5px;
}

a:hover {
	color: #228B22;
}

img {
	width: 550px;
	height: 250px;
	margin: auto 26%;
	border-radius: 15px;
}

#titulo h3 {
	font-size: 40px;
	color: #1C1C1C;
	text-align: center;
}

#objetivo, #formulario, #conteudo, #obrigado {
	width: 900px;
	margin: auto;
}

#objetivo, #conteudo p {
	font-size: 18px;
	text-indent: 25px;
	text-align: justify;
}

#conteudo b {
	font-size: 22px;
}

#conteudo ul {
	list-style-type: square;
}

#conteudo li {
	font-size: 18px;
}

#formulario fieldset {
	border-radius: 10px;
	border: 1px solid #1C1C1C;
}

#formulario legend {
	font-size: 20px;
	padding: 0 10px;
	color: #4169E1;
}

#formulario label, #formulario span {
	font-size: 18px;
	font-weight: bold;
	padding-right: 5px;
}

#formulario input[type=text], input[type=email] {
	border: 2px solid #1C1C1C;
	border-radius: 5px;
	height: 20px;
}

#formulario input[type=submit] {
	font-weight: bold;
	color: #FFF;
	background-color: #53A753;
	border: 1px solid #53A753;
	border-radius: 5px;
	height: 40px;
}

#formulario input[type=reset] {
	font-weight: bold;
	color: #FFF;
	background-color: #C33B34;
	border: 1px solid #C33B34;
	border-radius: 5px;
	height: 40px;
}

#obrigado h1 {
	-webkit-animation: cssAnimation 0.5s 20 linear;
	-moz-animation: cssAnimation 0.5s 20 linear;
	-o-animation: cssAnimation 0.5s 20 linear;
	text-align: center;
	font-size: 50px;
	color: #90C140;
}

@-webkit-keyframes cssAnimation {
	from { -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
	to { -webkit-transform: rotate(0deg) scale(0.766) skew(1deg) translate(0px); }
}
@-moz-keyframes cssAnimation {
	from { -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
	to { -moz-transform: rotate(0deg) scale(0.766) skew(1deg) translate(0px); }
}
@-o-keyframes cssAnimation {
	from { -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
	to { -o-transform: rotate(0deg) scale(0.766) skew(1deg) translate(0px); }
}